<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <link rel="stylesheet"
          type="text/css"
          href="/styles.css">

    <script src="https://kit.fontawesome.com/4e8fca0f34.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <meta property="og:type" content="website">
    <meta property="og:image" content='{{ "ms-icon-310x310.png" | absLangURL }}'>
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description | plainify }}">
    <meta property="og:locale" content="fi_FI">
  </head>
  <body>
    {{ block "navbar" . }}
    {{ end }}
    {{ block "header" . }}
      <div class="page-header-wrapper justify-content-center" >
        <div class="page-header-image" style="background-image: url({{.Params.background}})">
          <div class=" container-fluid">
            <div class="row justify-content-end">
              <div class="col-sd-6 logo p-1">
                <img src="{{.Site.Params.logo}}" alt="{{ .Site.Title }} logo">
              </div>
              <div class="col-md-1 col-lg-2"></div>
          </div>
          </div>
        </div>
      </div>
    {{ end }}

    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
      <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
      <div class="footer container-fluid p-3">
        <div class="row pl-3">
          <div class="col-sd-12">
            <a href="mailto:{{ .Site.Params.email }}"><i class="fas fa-envelope fa-2x"></i> {{ .Site.Params.email }}</a>
          </div>
        </div>
        <div class="row pl-3">
          <div class="col-sd-12">
            <a href="tel:{{ .Site.Params.phone }}/"><i class="fa fa-phone-square fa-2x"></i> {{ .Site.Params.phone }}</a>
          </div>
        </div>
        <div class="row pl-3">
          <div class="col-sd-12">
            <a href="https://www.instagram.com/{{ .Site.Params.instagram }}/"><i class="fab fa-instagram fa-2x"></i> {{ .Site.Params.instagram }}</a>
          </div>
        </div>
        <div class="row pl-3">
          <div class="col-sd-12">
            <a href="https://www.facebook.com/{{ .Site.Params.facebook }}/"><i class="fab fa-facebook-square fa-2x"></i> {{ .Site.Params.facebook }}</a>
          </div>
        </div>
      </div>
    {{ end }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  </body>
</html>