{{ define "navbar" }}
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ .Site.Params.home }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#valmentajat">{{ (.Site.GetPage "/_valmentajat").Title }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#some">{{ (.Site.GetPage "/_some").Title }}</a>
          </li>
          {{ range .Translations }}
          <li class="language nav-item float-right">
            <a class="nav-link" href="{{ .Permalink }}">{{ .Lang }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
{{ end }}

{{ define "main" }}
  <main aria-role="main">
    <div class="section intro container pt-5">
      <div class="row align-content-center">
        <div class="col justify-content-center">
          <div class="header">
            <h1 class="title">{{ .Title }}</h1>
            <div class="tagline">{{ .Params.SubTitle }}</div>
          </div>
            <div class="content">
              {{.Content}}
            </div>
        </div>
      </div>
    </div>

    {{ with .Site.GetPage "/_meista" }}
    <div class="section us container pt-5" id="me">
      <div class="row align-content-center">
        <div class="col justify-content-center">
          <div class="header" >
            <h1 class="title">{{ .Title }}</h1>
            <div class="addition">{{ .Params.SubTitle }}</div>
          </div>
          <div class="content">
            {{.Content}}
          </div>
        </div>
      </div>
    </div>
    {{ end }}


<!--
    <div class="section course m-0 p-5">
      <div class="container course mt-5 mb-5">
        <div class="row">
          {{ range where .Site.RegularPages "Section" "course" }}
            {{ .Render "card" }}
          {{ end }}
        </div>
      </div>
    </div>
-->
    {{ with .Site.GetPage "/_valmentajat" }}
    <div class="section coaches container-fluid pt-5" id="valmentajat">
      <div class="row m-2">
        <h1 class="section-title col">{{ .Title }}</h1>
      </div>
      <div class="row m-2 justify-content-center">
        <div class="container justify-content-center">
          <div class="content">
            {{.Content}}
          </div>
          {{ range where .Site.RegularPages "Section" "coach" }}
            <div class="coach col-sm-12">
              {{ .Render "card" }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "/_some" }}
    <div class="section some container-fluid pt-5" id="some">
      <div class="row m-2">
        <h1 class="section-title col">@nordicflowacroyoga</h1>
      </div>
      <div class="row instagram m-2 justify-content-center">
        <div class="container justify-content-center">
          <div class="row justify-content-center">
            {{ range where .Site.RegularPages "Section" "ig" }}
              {{ .Render "card" }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </main>
{{ end }}
