body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
    color: #3f791c;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

.tagline {
    font-size: x-large;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

.page-header-wrapper {
    width: calc(100% + 50px);
    height: 50vh;
    max-height: 700px;
    min-height: 600px;
}

.page-header-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-y: 70%;
    display: flex;
    width: calc(100% + 50px);
    height: 50vh;
    max-height: 700px;
    min-height: 600px;

    position: absolute;
    overflow: hidden;
}

.logo img {
    width: 100%;
    /*border-radius: 50%;*/
    /*padding: 2em;*/
}

div.box {
    padding: 5px 10px 10px 10px;
    margin: 15px;
}

.courses .dates {
    font-weight: bold;
}

div.details .type {
    font-weight: bold;
    display: inline;
}

.section-divider {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: lightgray;
    margin: auto;
    margin-top: 1cm;
    margin-bottom: 1cm;
    width: 400px;
    overflow:hidden;
}

.instagram .post {
    max-width: 540px;
}

.instagram .post iframe {
    min-width: 0px !important;
}

/*.section.coach {*/
/*    background-color: #FAFAFA;*/
/*}*/

.coach .name {
    font-weight: bolder;
    font-size: x-large;
    /*text-transform: uppercase;*/
    font-family: 'Oswald', sans-serif;
    color: #3f791c;
}

.coach img.photo {
    background-color: white;
    width: 100%;
}

.coach {
    text-align: left;
}

.section {
    text-align: center;
    font-size: large;
}

.section-title {
}

.footer {
    background-color: #fcd34b;
    color: #3f791c;
}

.footer a:link,
.footer a:visited,
.footer a {
    color: #3f791c;
}

.footer a:hover {
    color: black;
}

.navbar {
    background-color: #fcd34b;
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 768px) {
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }

    .nav-item.language {
       border-left: 1px solid #3f791c;
    }
}

@media (max-width: 767px) {
    .nav-item.language {
       border-top: 1px solid #3f791c;
    }
}

/*.navbar .navbar-nav {*/
/*  float: none;*/
/*  vertical-align: top;*/
/*}*/

/*.navbar-nav {*/
/*    float:none;*/
/*    margin:0 auto;*/
/*    display: block;*/
/*    text-align: center;*/
/*}*/

/*.navbar-nav > li {*/
/*    !*display: inline-block;*!*/
/*    !*float:none;*!*/
/*}*/

/*.nav-link {*/
/*    color: #3f791c !important;*/
/*}*/

